.bar .logo {
    max-height: 2.5em;
    max-width: none;
}

h1:not(:last-child),
.h1:not(:last-child) {
  margin-bottom: 0em;
}

.feature-1 > a.block img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.picker {
	max-width: unset;
	float: right;
	position: relative;
}

.image--ava {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	object-fit: cover;
}

.picker__day--disabled, .picker__day--disabled:hover {
    border-color: whitesmoke;
    color: #ddd;
    cursor: default;
}

.tabs {
	border: unset;
	margin-bottom: 0px;
}

.tabs li:not(:last-child) {
    border-right: unset;
}